body{
    margin: 0;
    padding: 0;
}
form{
    width: 800px;
    height: 600px;
    background-color: purple;
    margin-top: 100px;
    margin-left: 400px;
}
.create{
    padding-top: 40px;
    margin-left: 250px;
}
.name{
    margin-left: 200px;
    font-size: 30px;
}
input{
    border: none;
    
    height: 25px;
    border-bottom: 3px solid white;
    background-color: red;
    outline: none;
    color: white;
}
::placeholder{
    font-size: 20px;
}
#sel{
    width: 300px;
}
#sel option{
    font-size: 90px;

}
span {
    display: inline-block;
    margin: 0;
    padding: 0;
  }